.d-row {
  display: flex;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-start {
  justify-content: flex-start;
}

.f-end {
  justify-content: flex-start;
}

.f-center {
  justify-content: center;
}

.f-align-center {
  align-items: center;
}
