.padding {
  padding: 100px 165px;
}

.two-column {
  column-count: 2;
  column-gap: 30px;
}

.avoid-break {
  break-inside: avoid;
}

.margin-bottom-200 {
  margin-bottom: 200px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-t-200 {
  padding-top: 200px;
}

.m-b-1dot7rem {
  margin-bottom: 1.7rem;
}

.m-b-08rem {
  margin-bottom: 0.8rem;
}

.m-b-05rem {
  margin-bottom: 0.5rem;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}
