.padding {
  padding: 100px 165px 100px;
}

.two-column {
  column-count: 2;
  column-gap: 30px;
}

.avoid-break {
  break-inside: avoid;
}

.margin-bottom-200 {
  margin-bottom: 200px;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}
