:root {
  --color-white: #FFFFFF;
  --color-white-50: #D7CCC0;
  --color-light: #F5F4F0;
  --color-primary: #FE8A02;
  --color-primary-dark: #42413C;
  --color-dark: #2A2626;
  --color-dark-50: #908D8B;
  --color-brown: #B09A81;
  --color-blue: #1085c5;
}
