.white {
  color: var(--color-white);
}

.white-50 {
  color: var(--color-white-50);
}

.light {
  color: var(--color-light);
}

.primary {
  color: var(--color-primary);
}

.primary-dark {
  color: var(--color-primary-dark);
}

.dark {
  color: var(--color-dark);
}

.dark-50 {
  color: var(--color-dark-50);
}

.brown {
  color: var(--color-brown);
}

.blue {
  color: var(--color-blue);
}

/* -------- Background colors */

.bg-white {
  background-color: var(--color-white);
}

.bg-white-50 {
  background-color: var(--color-white-50);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-dark {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-dark-50 {
  background-color: var(--color-dark-50);
}

.bg-brown {
  background-color: var(--color-brown);
}
