.white {
  background-color: #FFFFFF;
}

.white-50 {
  background-color: #D7CCC0;
}

.light {
  background-color: #F5F4F0;
}

.primary {
  background-color: #FE8A02;
}

.primary-dark {
  background-color: #42413C;
}

.dark {
  background-color: #2A2626;
}

.dark-50 {
  background-color: #908D8B;
}

.brown {
  background-color: #B09A81;
}

.blue {
  color: #1085c5;
}

/* -------- Background colors */

.bg-white {
  background-color: #FFFFFF;
}

.bg-white-50 {
  background-color: #D7CCC0;
}

.bg-light {
  background-color: #F5F4F0;
}

.bg-primary {
  background-color: #FE8A02;
}

.bg-primary-dark {
  background-color: #42413C;
}

.bg-dark {
  background-color: #2A2626;
}

.bg-dark-50 {
  background-color: #908D8B;
}

.bg-brown {
  background-color: #B09A81;
}
