footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-box {
  display: flex;

  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  height: 190px;

  padding-right: 55px;
  padding-left: 55px;
}

.footer-input {
  box-sizing: border-box;

  width: 415px;
  height: 50px;

  padding: 15px;
  border: 0;
}

.footer-input-label {
  margin-bottom: 0.5rem;
}

.footer-btn {
  width: 70px;
  height: 50px;
  border: 0;
}

.footer-btn::before {
  content: url("../images/send.svg");
}
