header {
  position: relative;

  overflow: hidden;
}

header::before {
  position: absolute;

  display: block;

  width: 100vw;
  height: 914px;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-img {
  position: absolute;

  top: 55px;
  right: -170px;

  height: 525px;
}
