header::before {
  content: "";
  display: block;
  position: absolute;
  height: 914px;
  width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/background.png');
  
  opacity: 10%;
}

.header-img {
  position: relative;
  height: 525px;
  top: 55px;
  right: -270px;
}